/*
 * myfox
 *  - by Xplshn
/*


/* Borrowed css from;                     (ordered from most borrowed to least borrowed)
* penguinFox
*  - by p3nguin-kun
* firefox-minima
*  - by rockofox
*/

/* config */

* {
  --animation-speed: 0.2s;
  --button-corner-rounding: 30px;
  --urlbar-container-height: 40px !important;
  --urlbar-min-height: 30px !important;
  --urlbar-height: 30px !important;
  --urlbar-toolbar-height: 38px !important;
  --moz-hidden-unscrollable: scroll !important;
  --toolbarbutton-border-radius: 3px !important;
  --tabs-border-color: transparent;
  --tab-height: 16px;
}

:root {
    --window: -moz-Dialog !important;
    --secondary: color-mix(in srgb, currentColor 5%, -moz-Dialog) !important;
    --uc-border-radius: 0px;
    --uc-status-panel-spacing: 0px;
    --uc-page-action-margin: 7px;
}

tab[muted] .tab-label::before {
	background-image:  url("chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg");
	background-size:100% 100%;
	display: inline-block;
	min-width: 12px;
	width: var(--tab-font-size);
	height: auto;
	content:"\00a0";
	position: relative;
	-moz-context-properties: fill, fill-opacity, stroke;
	fill: currentColor;
	stroke: transparent;
	margin-right: 0.2em;
}

tab:hover[muted] .tab-label::before {
    display: none;
}

/* animation and effect */
#nav-bar:not([customizing]) {
  visibility: visible;
  margin-top: -40px;
  transition-delay: 0.1s;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: visibility, ease 0.1s, margin-top, ease 0.1s, opacity, ease 0.1s,
  rotate, ease 0.1s !important;
}

#nav-bar:hover,
#nav-bar:focus-within,
#urlbar[focused='true'],
#identity-box[open='true'],
#titlebar:hover + #nav-bar:not([customizing]),
#toolbar-menubar:not([inactive='true']) ~ #nav-bar:not([customizing]) {
  visibility: visible;

  margin-top: 0px;
  filter: alpha(opacity=100);
  opacity: 100;
  margin-bottom: -0.2px;
}
#PersonalToolbar {
  margin-top: 0px;
}
#nav-bar .toolbarbutton-1[open='true'] {
  visibility: visible;
  opacity: 100;
}

:root:not([customizing]) :hover > .tabbrowser-tab:not(:hover) {
  transition: blur, ease 0.1s !important;
}

:root:not([customizing]) :not(:hover) > .tabbrowser-tab {
  transition: blur, ease 0.1s !important;
}

.accessibility-indicator,
.private-browsing-indicator{ 
	height: unset !important;
}
.accessibility-indicator > hbox{ padding-block: 0 !important }

#tabbrowser-tabs tab:only-of-type {
	visibility: collapse !important;
}

#tabbrowser-tabs .tab-label-container[customizing] {
  color: transparent;
  transition: ease 0.1s;
  transition-delay: 0.2s;
}

.tabbrowser-tab * {
	margin:0 !important;
	border-radius: 0 !important;
	font-family: var(--tab-font-family) !important;
}
.tabbrowser-tab {
	height: var(--tab-height) !important;
	font-size: var(--tab-font-size) !important;
	min-height: 0 !important;
	align-items: center !important;
}

.tabbrowser-tab[fadein]:not([pinned]) {
	max-width: var(--max-tab-width) !important;
}

.tabbrowser-tab:not([pinned]) .bookmark-item .toolbarbutton-icon{opacity: 0!important; transition: .15s !important; width: 0!important; padding-left: 16px!important}
.tabbrowser-tab:not([pinned]):hover .bookmark-item:hover .toolbarbutton-icon{opacity: 100!important; transition: .15s !important; display: inline-block!important; width: 16px!important; padding-left: 0!important}
.tabbrowser-tab:not([hover]) .bookmark-item:not([hover]) .toolbarbutton-icon{padding-left: 0!important}

.tab-icon-image {
	height: auto !important;
	width: calc(var(--tab-height) / 1.5) !important;
	margin-right: 4px !important;
}

#tabs-newtab-button, #titlebar spacer {
	display: none !important;
}

/*  Removes annoying buttons and spaces */
.titlebar-spacer[type="pre-tabs"], .titlebar-spacer[type="post-tabs"]{display: none !important}
#tabbrowser-tabs{border-inline-start-width: 0!important}

/*  Makes some buttons nicer  */
#PanelUI-menu-button, #unified-extensions-button, #reload-button, #stop-button {padding: 2px !important}
#reload-button, #stop-button{margin: 1px !important;}

/* X-button */
:root {
    --show-tab-close-button: none;
    --show-tab-close-button-hover: -moz-inline-block;
}
.tabbrowser-tab:not([pinned]) .tab-close-button { display: var(--show-tab-close-button) !important; }
.tabbrowser-tab:not([pinned]):hover .tab-close-button { display: var(--show-tab-close-button-hover) !important }

/* tabbar */

/* Hide the secondary Tab Label
 * e.g. playing indicator (the text, not the icon) */
.tab-secondary-label { display: none !important; }

:root {
  --toolbarbutton-border-radius: 0 !important;
  --tab-border-radius: 0 !important;
  --tab-block-margin: 0 !important;
}

.tabbrowser-tab:is([visuallyselected='true'], [multiselected])
  > .tab-stack
  > .tab-background {
  box-shadow: none !important;
}

.tab-background {
  border-right: 0px solid rgba(0, 0, 0, 0) !important;
  margin-left: -1px !important;
}

.tabbrowser-tab[last-visible-tab='true'] {
  padding-inline-end: 0 !important;
}

#tabs-newtab-button {
  padding-left: 0 !important;
}

/* multi tab selection */
#tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([multiselected])
  > .tab-stack
  > .tab-background:-moz-lwtheme { outline-color: var(--toolbarseparator-color) !important; }

/* remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) { margin-inline-start: 0 !important; }

/*  Removes annoying border  */
#navigator-toolbox{border:none !important;}

/*  Removes the annoying rainbow thing from the hamburger  */
#appMenu-fxa-separator{border-image:none !important;}


/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_with_one_tab.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes tabs toolbar items zero-height initially and sets enlarge them to fill up space equal to tab-min-height set on tabs. Optionally use privatemode_indicator_as_menu_button.css to replace main menu icon with private browsing indicator while tabs are hidden. 

This will NOT work correctly if you have hidden tabs such as with tab groups extensions
*/

/* This style causes CSD window controls to disappear on linux, but you can kind of work around that by using window_control_fallback_for_custom_windows_theme.css */

:root[sizemode="normal"] #nav-bar{ --uc-window-drag-space-width: 20px }

#titlebar{ -moz-appearance: none !important; }
#TabsToolbar{ min-height: 0px !important }

#tabbrowser-tabs,
#tabbrowser-arrowscrollbox{ min-height: 0 !important; }

.accessibility-indicator,
.private-browsing-indicator{ 
  height: unset !important;
}
.accessibility-indicator > hbox{ padding-block: 0 !important }

.tabbrowser-tab{
  height: calc(var(--tab-min-height) + 2 * var(--tab-block-margin,0px));
}

.tabbrowser-tab:only-of-type,
.tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"]{
  visibility: collapse !important;
  min-height: 0 !important;
  height: 0;
}

/* Fix window controls not being clickable */
:root[tabsintitlebar] #toolbar-menubar[autohide="true"][inactive]{
  transition: height 0ms steps(1) 80ms;
}
:where(#nav-bar){
  border-inline: var(--uc-window-drag-space-width,0) solid var(--toolbar-bgcolor);
}
@media (-moz-platform: linux){
  #TabsToolbar .titlebar-buttonbox{
    align-items: stretch !important;
  }
  #TabsToolbar > .titlebar-buttonbox-container > .titlebar-buttonbox > .titlebar-button{
    transform: scale(0.8);
    margin-inline: -3px !important;
  }
  #TabsToolbar .titlebar-button > .toolbarbutton-icon{ padding: 0 13px !important }
}

#tabbrowser-tabs:not([overflow]) ~ #alltabs-button{
  display: none;
}

#tabbrowser-arrowscrollbox-periphery,
#private-browsing-indicator-with-label,
#TabsToolbar > .titlebar-buttonbox-container{
  contain: strict;
  contain-intrinsic-height: 0px;
}
#tabbrowser-arrowscrollbox-periphery{
  contain-intrinsic-width: 36px;
  padding-inline-end: 3px;
}
#private-browsing-indicator-with-label{
  contain-intrinsic-width: 116px;
}
#TabsToolbar > .titlebar-buttonbox-container{
  contain-intrinsic-width: var(--uc-window-control-width,138px);
  margin-bottom: 0 !important;
}
@media  (-moz-platform: linux){
  #TabsToolbar > .titlebar-buttonbox-container{
    contain-intrinsic-width: var(--uc-window-control-width,105px);
  }
}
@media  (-moz-platform: macos){
  #TabsToolbar > .titlebar-buttonbox-container{
    contain-intrinsic-width: var(--uc-window-control-width,72px);
  }
}
