@import "gutenberg.css" print;
/* @import "holiday.css";   */
/* @import "classless.css"; */
@-moz-document url-prefix("about:reader"){
  html {
      overflow-y: scroll !important;
      scrollbar-width: none !important;
      -ms-overflow-style: none !important;
  }
  ::-webkit-scrollbar {
      display: none !important;
  }
  :root {
      --bgcolor: radial-gradient(
          rgba(60,   40,   10,   10.75), black   120%
      );
      --fontcolor: rgba(220,   140,   30,   85);
      --linkcolor: rgba(220,   140,   30,   85);
      --visitedcolor: rgba(290,   190,   50,   85);
      --precolor: rgba(220,   140,   30,   85);
      --prebgcolor: rgba(60,   40,   10,   10.75);
      --black: rgba(245,   215,   0,   1); /* Bright Amber */
      --white: rgba(245,   204,   0,   1); /* Medium Amber */
      --gray: rgba(245,   193,   0,   1); /* Dark Amber */
      --red: rgba(220,   135,   0,   1); /* Reddish Amber */
      --orange: rgba(245,   171,   0,   1); /* Orange Amber */
      --yellow: rgba(245,   160,   0,   1); /* Yellow Amber */
      --green: rgba(245,   149,   0,   1); /* Greenish Amber */
      --blue: rgba(245,   138,   0,   1); /* Bluish Amber */
      --purple: rgba(245,   127,   0,   1); /* Purplish Amber */
      --brown: rgba(245,   116,   0,   1); /* Brownish Amber */
      --pink: rgba(245,   105,   0,   1); /* Pinkish Amber */
      --amber: rgba(245,   94,   0,   1); /* Amber */
  }
  
  .reader-header {
      color: rgba(250,   150,   30,   10) !important;
      text-shadow:   0   0   10px rgba(290,   10,   0,   80) !important;
      position: relative !important;
      z-index:   2 !important;
  }
  .toolbar-container {
    z-index: 3 !important;
  }
  hr {
      color: var(--gray);
      text-shadow:   0   0   5px rgba(190,   55,   0,   100) !important;
  }
  header {
      position: relative !important;
      z-index:   1 !important;
  }
  .bright {
      color: rgba(250,   150,   30,   10) !important;
      text-shadow:   0   0   6px rgba(290,   10,   0,   80) !important;
  }
  .always_bright {
      color: rgba(250,   150,   30,   10) !important;
      text-shadow:   0   0   10px rgba(290,   10,   0,   80) !important;
      position: relative !important;
      z-index:   2 !important;
  }
  p::selection{
    color: rgba(250,   150,   30,   10) !important;
    background-color:  rgba(70,   35,   10,   20.75) !important;
    text-shadow:   0   0   12px rgba(290,   20,   0,   80) !important;
    z-index:   2 !important;
  }
  strong {
      color: rgba(250,   160,   30,   10) !important;
      text-shadow:   0   0   6px rgba(290,   10,   0,   80) !important;
  }
  body {
      color: var(--fontcolor) !important;
      background: var(--bgcolor) !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-attachment: fixed !important;
      color: rgba(205,   155,   20,   85) !important;
      text-shadow:   0   0   7px rgba(200,   60,   10,   100) !important;
      /* Reader tweaks */
      text-align: justify !important;
      position: relative !important;
      overflow-x: clip !important;
  }
  body::before {
      content: "" !important;
      position: fixed !important;
      top:   0 !important;
      left:   0 !important;
      width:   100% !important;
      height:   100% !important;
      z-index:   1 !important;
      pointer-events: none !important;
      background: linear-gradient(to bottom, rgba(0,  0,  0,  0.4)  0%, rgba(0,  0,  0,  0)  51%, rgba(0,  0,  0,  0.4)  100%) !important; /*I WANTED 50%, BUT A BLACK LINE APPEARS IN THE MIDDLE OF THE PAGE (50% Y AXIS) */
  }
  body::after {
      content: "" !important;
      position: absolute !important;
      top:   0 !important;
      left:   0 !important;
      background: repeating-linear-gradient(
          0deg,
          rgba(black,   0.15),
          rgba(black,   0.15)   1px,
          transparent   1px,
          transparent   2px
      ) !important;
      pointer-events: none !important;
      background: rgba(10,   4,   3,   00.01) !important;
      opacity:   0 !important;
      z-index:   2 !important;
  }
  a:link, a:visited, a:active {
      color: var(--linkcolor) !important;
  }
  h1, h2, h3 {
      line-height:   1.2 !important;
  }
  p > code, code, pre {
      color: var(--precolor) !important;
      background: var(--prebgcolor) !important;
      padding:   2px !important;
  }
  pre {
      padding:   24px !important;
      overflow-x: auto !important;
      margin:   0 !important;
      background: transparent !important;
  }
  code{
      color: rgba(250,   150,   30,   10) !important;
      text-shadow:   0   0   10px rgba(290,   10,   0,   80) !important;
      background: transparent !important; /* May conflict with hljs */
  }
  .hidden {
      display: none !important;
  }
  article {
      padding:   24px   0 !important;
  }
  .center {
      display: block !important;
      margin-left: auto !important;
      margin-right: auto !important;
      width:   100% !important;
  }
  figcaption {
      color: --var(amber) !important;
      text-align: center !important;
  }
  figure {
      margin: auto !important;
  }
  img {
      display: block !important;
      max-width:   100% !important;
      height: auto !important;
      margin: auto !important;
  }
  ::selection {
      background: rgba(255,   191,   0,   1) !important;
      text-shadow: none !important;
  }
  li::marker {
      color: rgba(250,   160,   30,   10) !important;
      text-shadow:   0   0   6px rgba(290,   10,   0,   80) !important;
  }
  .crt-content {
      filter: hue-rotate(5deg) saturate(1.5) brightness(1.1) !important;
  }
  h1 {
      color: rgba(250,   150,   30,   10) !important;
      text-shadow:   0   0   8px rgba(290,   10,   0,   80) !important;
  }
  h2 {
      color: rgba(240,   140,   20,   10) !important;
      text-shadow:   0   0   7px rgba(280,   9,   0,   80) !important;
  }
  h3 {
      color: rgba(230,   130,   10,   10) !important;
      text-shadow:   0   0   6px rgba(270,   8,   0,   80) !important;
  }
  h4 {
      color: rgba(220,   120,   0,   10) !important;
      text-shadow:   0   0   6px rgba(260,   7,   0,   80) !important;
  }
  h5 {
      color: rgba(210,   110,   0,   10) !important;
      text-shadow:   0   0   6px rgba(250,   6,   0,   80) !important;
  }
  h6 {
      color: rgba(200,   100,   0,   10) !important;
      text-shadow:   0   0   6px rgba(240,   5,   0,   80) !important;
  }
}
}
